.patient-report-r3{
    margin: 3% 0px;
    padding: 1% 2%;
    box-shadow: 2px 2px 10px 1px rgba(220, 220, 220, 0.683);
    border: 1px solid gainsboro;
}
/* -------------------header---------------------------- */
.dashboard-header h3{
    margin: auto 0px;
}
.dashboard-patient-select img {
    width:30px;
    background-color: antiquewhite;
    border-radius: 50%;
    
}
.dashboard-patient-select{ 
    border:1px solid gainsboro;
    display:flex ;
    align-items: center;
    justify-content: flex-start;

}
.dashboard-patient-select h6{
    margin: auto 6px;

}
/* -----------------row 2 filter------------------------- */
.pat-das-select{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2% 0%;
}
.pat-das-option{
    display: inline;
    font-size: 1.2rem;
    border: 1px solid gainsboro;
    padding: 3px 2%;
    margin-right:3% ;
    border-radius: 5px;
}
.pat-das-option:hover{
    background-color: rgb(234, 234, 234);
}
/* -------------all css of table ------------ */
.pat-das-list table{
    width: 100%;
}
.pat-das-list th{
    border: 1px solid rgba(220, 220, 220, 0.749);
    font-size: 1rem;
    padding: 1% 1%;
}
.pat-das-list td{
    border: 1px solid rgba(220, 220, 220, 0.765);
    font-size: 1rem;
    padding: 1% 1%;
}
tr:hover{
    background-color: rgba(240, 240, 240, 0.726);
}
.pd-das-status{
    color: beige;
    background-color: green;
    width: max-content;
    padding: 2px 8px;
    border-radius: 5px;


}