.patient-dashboard{
    display: flex;
    border: 1px solid red;
    background-color: rgb(239, 247, 247);
    align-items: flex-start;
    justify-content:center;
}
.patient-dashboard-profile{
    border: 0px solid gainsboro;
    background-color: white;
    width: 21%;
    height: 100vh;
    margin: 2% 1%;
}
.patient-dashboard-details{
    border: 1px solid gainsboro;
    width: 70%;
    background-color: white;
    margin: 2% 1%;
}
