.patient-health-record-container{
    display: flex;
    flex-direction: column;
}

.dashboard-header{
    border:0px solid red;
    border-bottom: 2px solid gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 2%;
}
.dashboard-header h3{
    margin: auto 0px;
}
.dashboard-patient-select img {
    width:30px;
    background-color: antiquewhite;
    border-radius: 50%;
    
}
.dashboard-patient-select{
    border:1px solid gainsboro;
    display: block;
    display:flex ;
    align-items: center;

}
.dashboard-patient-select h6{
    margin: auto 6px;

}
.patients-medical-readings{
    border-right: 2px solid gainsboro;
}
.dashboard-pie-chart{
    border: 3px solid gainsboro;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.chart-circle{
    width: 130px;
    height: 130px;
    border: 10px solid rgb(0, 172, 32);
    border-left: 10px solid rgb(202, 202, 202);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    font-size: 0.8rem;
    text-align: justify;

}