.doctor-container{
    display: flex;
    align-items: center;
}
.doctor-detail{
    margin: 1%;
    padding: 4%;
    background-color: rgb(239, 252, 252);
    border-radius: 10px;
    border: 1px solid rgb(237, 237, 237);
}
.doctor-name{
    font-weight: 600
}