.home-page2-services{
    margin: 5% 0px;
}

.service img{
    width: 140px;
    height: 140px;
}
td {
 border: none;
}
tr{
    border: none;
}
.service{
    margin: 10px;
    background-color: rgb(240, 249, 255);
    border-radius: 15px;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
}
.hm2-dark{
    background-color: rgba(219, 238, 253, 0.916);
}
.service-name{
    font-weight: 500;
    padding: 5% 0px;
    text-align: center;
}
.special-service{
    border: 0px solid red;
    width: 29vw;
    padding: 5%;
}
.service-l1{
    font-size: 2rem;
    color: rgb(4, 158, 214);
}
.service-l2{
    font-size: 1.1rem;
}